@model E_commerce_MVC.viewModels.newProductVM

<h4>newProductVM</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="addNewProduct" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control form-control-lg" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Image_Url" class="control-label"></label>
                <input type="file" asp-for="Image_Url" class="form-control form-control-lg" />
                <span asp-validation-for="Image_Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control form-control-lg" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control form-control-lg" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control form-control-lg" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category_Id" class="control-label">Category</label>
                <select name="Category_Id" id="Category_Id" class="form-control form-control-lg">
                    @foreach (var categoryItem in Model.Category)
                    {
                        if (Model.Category_Id == categoryItem.Id)
                        {
                            <option value="@categoryItem.Id" selected>@categoryItem.Name</option>
                        }
                        else
                        {
                            <option value="@categoryItem.Id">@categoryItem.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>
